
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

form {
    width: 100px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}

.header1 {
    background-color: #e94e3f;
    color: white;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
    font-weight: bold;
}
.header2 {
    background-color: #1b18c7;
    color: white;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
    font-weight: bold;
}
.header3 {
    background-color: #14b414;
    color: white;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
    font-weight: bold;
}

.subject-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
}


.card h2 {
    color: #e94e3f;
    margin-bottom: 10px;
    font-size: 20px;
}

.card p {
    font-size: 14px;
    line-height: 1.6;
    color: #666;
}
/* Style the navbar */
nav {
    background-color: #2c2c31c7; /* Dark background color for the navbar */
    padding: 10px;
}

/* Style the unordered list inside the navbar */
nav ul {
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
    display: flex; /* Display links horizontally */
    justify-content: center; /* Center the list items */
}

/* Style the list items */
nav ul li {
    margin: 0 15px; /* Space between the list items */
}

/* Style the links */
nav ul li a {
    color: rgb(0, 0, 0); /* White text for the links */
    text-decoration: none; /* Remove underlines */
    font-size: 18px;
    font-weight: bold;
    padding: 10px 10px;
    transition: background-color 0.3s; /* Smooth background color transition */
}

/* Hover effect for the links */
nav ul li a:hover {
    background-color: #9b939350; /* Slightly lighter background color on hover */
    border-radius: 5px; /* Rounded corners */
}

.mtitle {
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    color: #333;
    font-weight: bold;
}

li a, .dropbtn {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }
  
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }